@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --black: #000;
    --white: #fff;
    ---lightGrey: #dfdfdf;
    --overlayGrey: #979797;
    --grey: #f5f5f5;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

header {
  @apply flex justify-between items-center p-4 px-8 fixed top-0 left-0 right-0 z-[1000] h-[4.5rem] w-full bg-white md:px-[4.1rem] md:justify-between;
}

.hamburger-wrapper {
  @apply md:hidden;
}

.mobile-menu-close {
  /* @apply h-[30.85px]; */
}

.nav-menu,
.nav-btn {
  @apply hidden md:flex;
}

.mobileNav {
  @apply block bg-white absolute top-[4.5rem] z-[1000] min-h-[253px] left-0 right-0 transition-all ease-in-out duration-1000 pb-4 -translate-y-5 space-y-0 md:hidden;
}

.mobileNav #myLinks {
  @apply grid place-items-center text-[15px] mx-auto uppercase tracking-[2.5px] font-bold pt-12 pb-4  w-[90%];
}

.mobileNav a {
  @apply text-black py-[14px] px-[16px] no-underline text-[17px] block;
}

.mobileNav a:hover {
  @apply tracking-[2.7px];
}

.btn-white {
  @apply bg-white text-black;
}

.nav-invite-btn {
  @apply flex justify-center py-6 pb-4 mx-auto border-t w-[80%] border-t-black;
}
.nav-invite-btn button {
  @apply w-full h-[3rem] py-2;
}
.btn {
  @apply w-full h-[3rem] py-2;
}

.btn-wrapper {
  @apply flex justify-center py-6 pb-4 mx-auto w-[80%];
}
.arr-link {
  @apply flex gap-4 uppercase tracking-[2px] text-[12px] items-center;
}

.arr-link:hover {
  @apply gap-5;
}

.image-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 w-full bg-black min-h-[375px] md:min-h-[500px];
}

.image-grid img {
  @apply h-full w-full relative;
}

.grid-text {
  @apply bg-black text-[var(--white)] grid place-content-center px-8 py-20 w-[100%] md:w-[65%] lg:w-5/12 2xl:w-[45%];
}

/* .home-img1 {
  @apply sm:h-[294px];
  background: url(../public/assets/home/desktop/create-and-share.jpg);
}

.home-img2 {
  background: url(../public/assets/home/desktop/beautiful-stories.jpg);
}
.home-img3 {
  background: url(../public/assets/home/desktop/designed-for-everyone.jpg);
} */

.home-grid-layout {
  @apply flex flex-col-reverse md:flex-row md:flex lg:flex;
}

.home-layout-reverse {
  @apply flex-col-reverse md:flex-row-reverse;
}
.grid-img {
  @apply min-h-[271px]  md:h-[40.625rem] w-full md:w-[35%] lg:h-[650px] lg:w-7/12 2xl:w-[55%];
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.grid-img img {
  @apply w-full h-[100%] object-cover;
}

.grid-text-content {
  @apply lg:w-[24rem] grid gap-4;
}
.grid-text-content h2 {
  @apply text-[32px] sm:tracking-[3.33px] md:text-[2.5rem] md:leading-[48px];
}
.grid-text-content p {
  @apply text-[15px] leading-[25px] md:pr-0 opacity-60;
}
.img-wrapper {
  @apply relative;
}

.img-overlay {
  @apply bg-black opacity-30 absolute h-full w-full z-10;
}

.img-content {
  @apply grid  w-full absolute z-20 bottom-0  px-10 text-white;
  /* background: linear-gradient(var(--white), var(--overlayGrey)); */
}

.img-content .story-details {
  @apply border-b  w-full py-4;
  border-color: rgba(255, 255, 255, 0.25);
}

.img-content a {
  @apply flex justify-between py-4 text-[12px] tracking-[2px];
}

.img-wrapper h6 {
  @apply uppercase text-lg font-bold;
}

.img-wrapper .author {
  @apply text-[13px] font-extralight tracking-normal;
}

.info-section {
  @apply grid place-items-center w-full min-h-[500px];
}

.info-content {
  @apply grid py-20 gap-[4rem] grid-cols-1 place-items-center md:gap-[4rem]  text-center min-h-[236px] lg:grid lg:w-[80%] lg:grid-cols-3 lg:gap-[2rem] 2xl:w-[80%] 2xl:gap-0 2xl:justify-between;
}

.features-info-section {
  @apply md:py-8;
}

.features-info-section .info-section .info-content {
  @apply md:grid-cols-2 lg:grid-cols-3 md:gap-y-[6rem];
}

.info-content .info-item {
  @apply grid place-items-center lg:w-full gap-0 md:gap-4 min-h-[236px];
}

.info-item .info-img-wrapper {
  @apply min-h-[100px];
}

.info-item img {
  @apply h-[100%];
}

.info-item .info-text {
  @apply min-h-[116px] max-w-[350px];
}

.info-item h6 {
  @apply text-[18px] font-bold pb-4;
}
.info-item p {
  @apply text-[15px] leading-[25px];
}

footer {
  @apply bg-[var(--black)] py-10 grid place-items-center lg:min-h-[250px] text-white w-full;
}

footer .footer-main-wrapper {
  @apply grid w-[80%]  2xl:w-[75%] bg-[var(--black)] md:flex md:relative md:justify-between lg:flex lg:justify-between;
}

.footer-main-content {
  @apply grid gap-8 place-items-center md:place-items-start  md:gap-2 lg:flex lg:gap-[8rem];
}

.footer-main-content ul {
  @apply grid gap-4 text-center md:flex md:text-left md:gap-5 md:pb-20 lg:grid pt-3 text-[12px] tracking-[2px];
}

.footer-col1,
.footer-col3 {
  @apply grid gap-[1.5rem] md:gap-20 sm:place-items-center;
}

.footer-icons {
  @apply flex justify-center gap-2 md:absolute md:bottom-8 lg:static;
}

.footer-col3 {
  @apply pt-20 md:pt-0;
}

.footer-col3 small {
  @apply text-center md:text-left opacity-50;
}
.footer-text-link-wrapper {
  @apply flex justify-center md:justify-end w-full;
}

.grid-text-white {
  background: white;
  color: var(--black);
}

/* STORIES */

/* .stories-hero-img {
  @apply h-[317px]  bg-[url('../public/assets/stories/tablet/moon-of-appalacia.jpg')] md:bg-[url('../public/assets/stories/desktop/moon-of-appalacia.jpg')]  md:min-h-[650px] lg:h-[650px]  lg:bg-[url('../public/assets/stories/desktop/moon-of-appalacia.jpg')] bg-center bg-no-repeat bg-cover;

} */

.stories-hero-mobile {
  @apply grid md:hidden;
}

.stories-hero-overlay {
  @apply h-[317px]  md:min-h-[650px] lg:h-[650px]   relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.stories-hero-content-wrapper {
  @apply hidden text-white absolute top-[10rem] p-4 md:grid md:w-2/3 md:pl-[4rem] md:p-5 lg:w-1/2 lg:pl-[8rem] gap-4;
}

.stories-hero-content-wrapper h5 {
  @apply text-[12px] font-bold tracking-[2px];
}

.stories-hero-content-wrapper h1 {
  @apply text-[40px] leading-[48px] font-bold tracking-[4.17px];
}

.stories-hero-content-wrapper .date-and-author {
  @apply text-[13px]  flex gap-[0.3rem] opacity-75;
}
.stories-hero-content-wrapper .date-and-author p {
  @apply font-extralight;
}

.stories-hero-content-wrapper .date-and-author .author {
  @apply opacity-100;
}

.stories-hero-content-wrapper .description {
  @apply opacity-60 text-[15px] leading-[25px] md:w-[77%] lg:min-w-[65%] 2xl:min-w-[75%]  2xl:pr-[9rem];
}

/* FEATURES */

.features-hero {
  @apply bg-[url('../public/assets/features/desktop/hero.jpg')];
}

.invite-section {
  @apply bg-[url('../public/assets/features/desktop/Bitmap.png')] min-h-[280px] text-white grid place-items-center;
}

.invite-section .invite-content {
  @apply grid place-items-start p-8 md:flex md:justify-between md:items-center md:w-[85%] lg:w-[85%] 2xl:w-[79%] h-[100%];
}

.invite-section h3 {
  @apply text-[2rem] uppercase tracking-[3.33px] leading-[40px];
}

/* PRICING */

.pricing-hero {
  @apply bg-[url('../public/assets/pricing/desktop/hero.jpg')];
}

.pricing-section {
  @apply py-20;
}

.pricing-toggle {
  @apply flex items-center gap-2 justify-center py-6;
}

.pricing-toggle .toggle-text {
  @apply text-[18px] text-black font-bold opacity-50 transition-all duration-300 ease-in-out;
}
.pricing-toggle .active {
  @apply opacity-100;
}

.toggle-wrapper {
  @apply bg-[var(--overlayGrey)] w-[4rem] h-[2rem] rounded-2xl flex items-center p-0.5 cursor-pointer transition-all duration-300 ease-in-out;
}

.toggled {
  @apply justify-end bg-black;
}

.toggled .toggle-btn {
  @apply bg-white;
}

.toggle-btn {
  @apply h-[1.5rem] bg-black aspect-square rounded-full;
}

.plans-container {
  @apply grid md:grid-cols-1 gap-8 place-items-center p-4 mx-auto text-center lg:w-[80%] lg:grid-cols-3;
}

.card {
  @apply bg-[var(--grey)] grid gap-2 p-4 lg:h-[407px] transition-all duration-1000 ease-linear;
}

.pro-card {
  @apply pt-1.5 bg-gradient-to-tr from-[#FFC593] via-[#BC7198] to-[#5A77FF] md:pl-1.5 md:pt-0 lg:pt-1.5 lg:pl-0 lg:h-[470px];
}

.pro-card .card {
  @apply bg-black text-white h-full;
}

.card h5 {
  @apply text-[1.5rem] font-bold;
}
.card p {
  @apply text-[15px] opacity-60 leading-[25px];
}

.card h6 {
  @apply text-[40px] font-bold;
}

.pricing-comparison {
  @apply w-full md:px-16 lg:w-[55%] mx-auto;
}

.pricing-table-headers {
  @apply border-b border-b-black;
}

.pricing-table th,
.pricing-table td {
  @apply text-left uppercase text-[12px] tracking-[2px] font-bold;
}

.pricing-table-row {
  @apply border-b border-gray-300 text-left uppercase;
}

.check-container {
  @apply pl-6 text-center;
}

.check-container:last-child {
  @apply pl-8;
}

.features-section {
  @apply hidden md:block mb-20;
}
.features-section h4 {
  @apply text-center text-[2.5rem] tracking-[4.17px] font-bold mb-6;
}

.mobile-features-section {
  @apply pb-12 md:hidden;
}

.mobile-features-heading,
.mobile-features-content {
  @apply px-8;
}

.mobile-features-item h6 {
  @apply text-[12px] font-bold tracking-[2px] py-4;
}

.mobile-features-heading h5 {
  @apply border-b border-b-black py-4 text-[12px] font-bold tracking-[2px];
}

.mobile-features-item {
  @apply py-4  border-b;
}
.mobile-features-checkmark-wrapper {
  @apply flex justify-between pr-10;
}

.mobile-features-checkmark-wrapper .item {
  @apply grid gap-2;
}

.mobile-features-checkmark-wrapper p {
  @apply opacity-50 text-[10px] font-bold tracking-[1.67px];
}

.mobile-features-checkmark-wrapper .checkmark {
  @apply text-black font-bold;
}

/* .active {
  background-color: text;
  color: white;
} */
